{{ attach_library( 'arky/commerce' ) }}

<a href="{{ product_url }}" class="colection ts-link is-flex flex-column jc-center text-center is-relative" title="{{ product.title }}">

    <figure class="ts-figure colection-figure">
        <img 
        src="{{ file_url(product_entity.field_product_imagen.entity.field_media_image.entity.fileuri | image_style('400x500')) }}" 
        alt="{{product_entity.field_product_imagen.entity.field_media_image.alt }}" title="{{product_entity.field_product_imagen.entity.field_media_image.title }}" 
        class="ts-img colection-img is-block" />
    </figure>

    <h3 class="colection-title color-dark text-upper">
        <span class="is-iblock is-relative">{{ product.title }}</span>
    </h3>

    <strong class="ts-precio text-upper color-purple">
        US${{ product_entity.field_producto_precio.value }}
    </strong>

</a>