{{ attach_library( 'arky/commerce' ) }}

<section id="node" class="nodepage nodecommerce">
    <div class="contenedor is-flex flex-row"> 

        {% include '@arky/@artefacta/messages.html.twig' %}  

        <header class="commerce-up is-flex flex-row jc-between ai-center">
            <h2 class="subtitle font-300 text-upper color-purple" data-name="{{ product_entity.field_producto.entity.name.value }}">
                <a href="./">
                    {{ product_entity.field_producto.entity.name.value }}
                </a>
            </h2>
            <h1 id="title" class="commerce-title font-700 color-purple">{{ product.title }}</h1>
            <h3 id="precio" class="commerce-precio font-300">{{ product.variation_price }}</h3> 
        </header> 
        <aside class="commerce-left">
            {{ product.variation_field_warmi_imagen }}  
        </aside>
        <article class="commerce-right jc-center is-flex flex-column color-blue text-center">
            <p class="producto-detalle">{{ product_entity.field_product_detalle.value }}</p>
            {{ product.variations }} 
            <a href="#size-chart" class="modal-target" uk-toggle>Información de tallas</a> 
        </article>
        <footer class="commerce-down"> 
            {% include '@arky/@artefacta/social.html.twig' %}
        </footer>    

    </div>
</section>

<div id="size-chart" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Información de Tallas</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Jonesy Size</th>
                    <th>A</th>
                    <th>B/C</th>
                    <th>C/D</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Cup Size</td>
                    <td>A-B Cups</td>
                    <td>B-C Cups</td>
                    <td>C-D Cups</td>
                </tr>
                <tr>
                    <td>Rib Cage (Inches)</td>
                    <td>30-34</td>
                    <td>32-36</td>
                    <td>34-38</td>
                </tr>
                <tr>
                    <td>Good For</td>
                    <td>30A, 30C, 32A, 32B, 34A</td>
                    <td>32C, 32D, 34B, 34C, 36B</td>
                    <td>34D, 36C, 36D, 38C, 38D</td>
                </tr>
            </tbody>
        </table>

        {{ attach_library( 'arky/uk.modal' ) }}
    </div>
</div> 