<article{{ attributes }}>
  <div class="cart-block--summary">
    {% set cart_tag = content ? 'a' : 'span' %} 
    <{{cart_tag}} class="carrito-link cart-block--link__expand is-relative is-iblock" {% if content %}href="#myCart"{% endif %} uk-toggle>
      <span class="cart-block--summary__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.016 37.35375">
          <g>
            <path d="M26.012,27.023L24.746,2.576C24.672,1.133,23.479,0,22.031,0H3.983C2.537,0,1.345,1.133,1.271,2.576L0.004,27.023   c-0.039,0.744,0.23,1.473,0.743,2.013s1.226,0.847,1.971,0.847h20.58c0.746,0,1.458-0.307,1.97-0.847   C25.781,28.496,26.051,27.768,26.012,27.023z M21.116,6.242c-0.929,3.629-4.198,6.27-8.1,6.27c-3.898,0-7.166-2.636-8.097-6.262   C4.187,5.964,3.667,5.252,3.667,4.418c0-1.086,0.88-1.967,1.967-1.967C6.72,2.451,7.6,3.332,7.6,4.418   c0,0.622-0.289,1.176-0.74,1.536c0.779,2.681,3.238,4.608,6.157,4.608c2.916,0,5.371-1.922,6.153-4.598   c-0.459-0.359-0.754-0.919-0.754-1.547c0-1.086,0.881-1.967,1.967-1.967c1.085,0,1.965,0.881,1.965,1.967   C22.348,5.244,21.838,5.951,21.116,6.242z"/>
          </g>
        </svg>
      </span>
      {% if count > 1 %}
        <span class="cart-block--summary__count">{{ count }}</span>
      {% else %}
        <span class="cart-block--summary__count">{{ count }}</span>
      {% endif %}
    </{{cart_tag}}>
  </div>
</article>

{% if content %}
<section id="myCart" class="canvas-cart" uk-offcanvas="overlay: true; flip: true">
  <div class="uk-offcanvas-bar">

    <h4>Warmichic Store</h4>
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <div class="cart-block--contents">
      <div class="cart-block--contents__inner">
        <div class="cart-block--contents__items">
          {{ content }}
        </div>
        <div class="cart-block--contents__links">
          {#{{ links }}#}
          <a href="{{ url('<front>') }}cart" class="go-cart">¡Pagar ahora!</a>
        </div>
      </div>
    </div>

  </div>
</section>
{% endif %}

{{ attach_library( 'arky/cart' ) }}