{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'swiper-container',
  ]
%}

{% if label_hidden %}
  {% if multiple %}

    <figure{{ attributes.addClass(classes, 'field--items') }}> 
        {% for item in items %} 

            {% set image_link = file_url(item.content['#media'].field_media_image.entity.uri.value) %}
            {% set image_real = file_url( item.content['#media'].field_media_image.entity.uri.value | image_style('600x600') ) %} 
                    <img src="{{ image_real }}" alt="" > 
 
        {% endfor %}
        
    </figure>

  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %} 

{#{{ dpm(items.0.content['#media'].field_media_image.0 |keys) }}#}