{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'swiper-container',
  ]
%}

{% if label_hidden %}
  {% if multiple %}

    <div{{ attributes.addClass(classes, 'field--items') }}>
    <section class="is-relative arky-slideshow" uk-slideshow uk-lightbox="animation: slide"> 
        <ul class="uk-slideshow-items">
        {% for item in items %} 

            {% set image_link = file_url(item.content['#media'].field_media_image.entity.uri.value) %}
            {% set image_real = file_url( item.content['#media'].field_media_image.entity.uri.value | image_style('600x600') ) %}
            <li> 
                <a class="uk-inline" href="{{ image_link }}" data-caption="Caption 1" data-alt="SEO ALT">
                    <img src="{{ image_real }}" alt="" uk-cover>
                </a>
            </li>
 
        {% endfor %}
        </ul>
        <div class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></div>
        <div class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></div> 
    </section>
    </div>

  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}

{{ attach_library( 'arky/uk.slideshow' ) }}
{{ attach_library( 'arky/uk.lightbox' ) }}

{#{{ dpm(items.0.content['#media'].field_media_image.0 |keys) }}#}