{% if multiple %}

  <ul{{ attributes.addClass('field--multiple') }}>
  {% for item in items %}
    <li{{ item.attributes.addClass('field--item') }}>{{ item.content }}</li>
  {% endfor %}
  </ul>

{% else %}

  {% for item in items %}
    {{ item.content }}
  {% endfor %}

{% endif %}