{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}  

{% import _self as menus %}

{% set menu_classes = [ 'uk-nav-default'] %}
{% set submenu_classes = ['uk-nav-sub'] %}

{% if items %}

  {% if menu_level == 0 %}
    <ul{{ attributes.addClass(menu_classes) }} uk-nav>
  {% else %} 
    <ul{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}>
  {% endif %}

    {% for item in items %}

      {% set menu_attributes = menus_attribute(items|keys[loop.index0]) %}
      {% set classes = [
        'mm--item', 'is-relative',
        item.is_expanded ? 'uk-parent', 
        item.is_collapsed ? 'mm--item--collapsed',
        item.in_active_trail ? 'mm--item--active-trail uk-open', 
        menu_attributes.item.class ? menu_attributes.item.class ]
      %} 
      {% set link_classes = [
        'mm--link', 'font-warmichic', 'color-purple', 'is-relative', 'text-upper', 'font-300', 'is-iblock',
        item.is_expanded ? 'mm-link-expanded menu--flechita', 
        menu_attributes.link.class ? menu_attributes.link.class ]
      %}

      {% set classes_sub = [
        'mm--item-sub',
        item.is_expanded ? 'mm--item--expanded-sub',
        item.is_collapsed ? 'mm--item--collapsed-sub',
        item.in_active_trail ? 'mm--item--active-trail-sub is-activo',
        menu_attributes.item.class ? menu_attributes.item.class ]
      %}
      {% set link_classes_sub = [
        'mm--link-sub', 'color-orange', 'font-warmichic', 'is-relative', 'is-iblock',
        item.in_active_trail ? 'is-active',
        menu_attributes.link.class ? menu_attributes.link.class ]
      %}

      {% if menu_level == 0 %}

        <li{{ item.attributes.addClass(classes) }}   

        {% if menu_attributes.item.id %}
          {{ item.attributes.setAttribute('id', menu_attributes.item.id) }}
        {% endif %} 

        {% if menu_attributes.item.style %}
          {{ item.attributes.setAttribute('style', menu_attributes.item.style) }}
        {% endif %}
      >

        {% if item.below %} 
          {{ link( 
            item.title, item.url, item.attributes.setAttribute('title', item.title).setAttribute('alt', item.title).removeClass(classes).addClass(link_classes), menu_attributes.link 
          ) }} 
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% else %}
          {{ link( 
            item.title, item.url, item.attributes.setAttribute('title', item.title).setAttribute('alt', item.title).removeClass(classes).addClass(link_classes), menu_attributes.link 
          ) }}
        {% endif %}
      </li>

      {% else %}

      <li{{ item.attributes.addClass(classes_sub) }} 
      {% if menu_attributes.item.id %}
        {{ item.attributes.setAttribute('id', menu_attributes.item.id) }}
      {% endif %}
      {% if menu_attributes.item.style %}
        {{ item.attributes.setAttribute('style', menu_attributes.item.style) }}
      {% endif %}>
          
        {{ link( 
          item.title, item.url, item.attributes.setAttribute('title', item.title).setAttribute('alt', item.title).removeClass(classes_sub).addClass(link_classes_sub), menu_attributes.link 
        ) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>

      {% endif %}

    {% endfor %}

    {% if menu_level == 0 %}
    </ul>
    {% else %}
      </ul> 
    {% endif %}

  {% endif %}
{% endmacro %}