{% if term.parent.0.target_id == 1 %}
    <h3 class="subtitle text-upper color-purple font-300">Colección</h3>
{% elseif term.parent.0.target_id == 2 %}
    <h3 class="subtitle text-upper color-purple font-300">Casuales</h3>
{% elseif term.parent.0.target_id == 3 %}
    <h3 class="subtitle text-upper color-purple font-300">Accesorios</h3>
{% else %}
{% endif %}

<h1 id="title" class="title color-purple font-700">{{ name }}</h1>