{{ attach_library('arky/back') }} 
{{ attach_library('arky/uk.ocanvas') }}

<section id="arkypage" class="arkypage arkypage-user is-flex flex-column is-relativo">

    {% include '@arky/@base/header.html.twig' %} 

    <div class="bodypage is-flex flex-column flex-grow"> 
            
        {% include '@arky/@pages/user.html.twig' %} 

        {% include '@arky/@base/footer.html.twig' %} 
    </div>

    {% include '@arky/@base/mobile.html.twig' %} 

</section> 