{% if is_front %}
    {{ attach_library('arky/home') }}
{% else %}
    {{ attach_library('arky/back') }}
{% endif %}  
    {{ attach_library('arky/uk.ocanvas') }}

{% include '@arky/@artefacta/load.html.twig' %} 

<section id="arkypage" class="arkypage is-flex flex-column is-relativo">

    {% include '@arky/@base/header.html.twig' %} 

    <div class="bodypage is-flex flex-column flex-grow">
        {% if is_front %}
            {% include '@arky/@pages/home.html.twig' %} 
        {% else %}
            {% include '@arky/@pages/back.html.twig' %} 
        {% endif %}

        {% include '@arky/@base/footer.html.twig' %} 
    </div>

    {% include '@arky/@base/mobile.html.twig' %}

    {% include '@arky/@base/cart.html.twig' %} 

    {% include '@arky/@artefacta/tabs.html.twig' %}

</section> 