{{ attach_library('arky/back') }}
{{ attach_library('arky/check') }} 
{{ attach_library('arky/uk.ocanvas') }}

{% include '@arky/@artefacta/load.html.twig' %} 

<section id="arkypage" class="arkypage arkypage-cart is-flex flex-column is-relativo">

    {% include '@arky/@base/header.html.twig' %} 

    <div class="bodypage is-flex flex-column flex-grow"> 
            
        {% include '@arky/@pages/cart.html.twig' %} 

        {% include '@arky/@base/footer.html.twig' %} 
    </div>

    {% include '@arky/@base/cart.html.twig' %} 

    {% include '@arky/@base/mobile.html.twig' %} 

</section> 