{{ attach_library('arky/back') }}
{{ attach_library('arky/check') }} 

{% include '@arky/@artefacta/load.html.twig' %} 

<section id="arkypage" class="arkypage arkypage-check is-flex flex-column is-relativo">

    {% include '@arky/@base/header.html.twig' %} 

    <div class="bodypage is-flex flex-column flex-grow"> 
            
        {% include '@arky/@pages/check.html.twig' %} 

        {% include '@arky/@base/footer.html.twig' %} 
    </div>

    {% include '@arky/@base/mobile.html.twig' %}

</section> 