:root {

    --color-gray: #EEEDE6;
    --color-gray-light: #F8F7F1;

    --color-light: #F7EBE5;
    --color-dark: #cb886f;
    --color-dark-light: #ebe2da;

    --qarla-blue: #000035;
    --qarla-orange: #C65839;
    --qarla-purple: #B3378A;
    --qarla-ambar: #E4AE00;
    --qarla-skyblue: #74AFC9;
    --qarla-sand: #BC8815;
    --qarla-marine: #5873B0;
    --qarla-pink: #C27197;

    --blue-light: #5974B1;
    --blue-dark: #000035;  

    --headerpage: 13rem;
    --contenedor: 1.5rem;
}
@media (min-width: 1440px) {
:root { --headerpage: 15vw; }
}

body { font-family: 'Signika'; }
.contenedor { padding-left: var(--contenedor); padding-right: var(--contenedor); width: 100%; }

.font-warmichic { font-family: 'Signika'; }
.font-display { font-family: 'Rammetto One'; }
.font-400 { font-weight: 400; }
.font-700 { font-weight: 700; }
.font-300 { font-weight: 300; }

.text-upper { text-transform: uppercase; }
.text-lower { text-transform: lowercase; }

.text-center { text-align: center; }

.color-blue-dark { color: var(--blue-dark); }
.color-orange { color: var(--qarla-orange); }
.color-marine { color: var(--qarla-marine); }
.color-purple { color: var(--qarla-purple); }
.color-dark { color: var(--color-dark); }

.is-relative { position: relative; }
.is-absolute { position: absolute; }
.is-fixed { position: fixed; }
.index-min { z-index: -1; }
.index-0 { z-index: 0; }
.index-1 { z-index: 1; }
.index-2 { z-index: 2; }
.index-max { z-index: 10; }
.index-maxx { z-index: 11; }

.order-min { order: -1; }
.order-max { order: 10; }
.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }

.is-contents { display: contents; }
.is-block { display: block; }
.is-iblock { display: inline-block; }
.is-flex { display: flex; flex-wrap: wrap; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-grow { flex-grow: 1; flex-basis: 0; }

.over { overflow: hidden; }

.jc-between { justify-content: space-between; }
.jc-center { justify-content: center; }
.jc-end { justify-content: flex-end; }

.ai-between { align-items: space-between; }
.ai-center { align-items: center; }
.ai-end { align-items: flex-end; }

.desktop { display: none; }
@media (min-width: 1000px) and (min-height: 650px) {
.desktop { display: flex; }
.mobile { display: none; }
}

.arkypage {
    min-height: 100vh;
    background-color: var(--color-light); } 
.headerpage {
    background-color: var(--color-light); 
    box-shadow: 0 0 0 3px var(--color-gray-light);
    top: 0; padding-top: .5rem; padding-bottom: .5rem; width: 100%; }
.headerpage .contenedor { padding-left: 1rem; padding-right: 1rem; }
@media (min-width: 1000px) {
.headerpage .contenedor { padding-left: var(--contenedor); padding-right: var(--contenedor); }
}
@media (min-width: 1000px) and (min-height: 650px) {
.arkypage { flex-direction: row; }
.headerpage { width: var(--headerpage); height: 100vh; }
.headerpage .contenedor { height: 100%; justify-content: space-between; flex-direction: column; }
.headerpage .desktop { display: contents; }
.main, .footer { margin-left: calc( var(--headerpage) ); }
.menu--accordion { height: calc(100% - 2rem - 110px - 4rem); }
.menu--azul { height: 110px; }
}

.headerpage::before {
    content: ''; background-color: var(--color-gray);
    position: absolute; z-index: 0; transition: .25s height;
    height: 0; width: 100%; bottom: 0; left: 0; }
.headerpage:hover::before { height: 100%; }
@media (min-width: 1000px) and (min-height: 650px) {
.headerpage::before { width: 0; height: 100%; right: 0; left: auto; transition: .25s width; }  
.headerpage:hover::before { width: 100%; }  
}

.logo-0 { fill: var(--qarla-blue); }
.logo-1 { fill: var(--qarla-orange); }
 
.burger {
    width: 3rem; max-width: 3rem;
    position: fixed; top: 1.5rem; left: 1.5rem; }
.logopage { display: flex; flex-basis: 10rem; }
.logopage svg { width: 100%; }
@media (min-width: 600px) { .logopage { flex-basis: 14rem; } } 
@media (min-width: 1000px) and (min-height: 650px) { .logopage { flex-basis: 2rem; } }

.burger-cart { width: 3rem; max-width: 3rem; position: fixed; top: 1.5rem; right: 1.5rem; }

.redes { height: 0; margin-top: 1rem; }
.redes li { margin-right: .5rem; width: 1.5rem; }
.redes li svg { height: 1.5rem; fill: var(--qarla-marine); }

.mm--link { font-size: 1.35em; margin-top: .5rem; }
.uk-nav-sub { margin-top: .5rem; margin-bottom: 1rem; }
.mm--link-sub {
    font-size: 1em; line-height: 1;
    letter-spacing: 1px; font-weight: 300;
    padding: .25rem 1rem; }

.menu--azul a { display: inline-block; font-size: .9em; }

.title-block { 
    font-size: 1.75em;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--qarla-purple); }

[class*='prefooter--'] { padding-top: 10vh; background-color: var(--color-dark-light); }
.prefooter--1 {
    background: linear-gradient(0deg, rgb(235, 226, 218) 50%, rgb(247, 235, 229) 100%);
    padding-top: 4rem; }
.prefooter-item svg { height: 7rem; fill: var(--qarla-purple); margin: 0 auto 1rem; }
.prefooter-item > :not(:first-child) { margin-top: .5rem; }
.prefooter-item > p {
    padding-left: 10%; padding-right: 10%;
    text-align: justify;
    font-size: 14px; }
@media (max-width: 599px) {
.prefooter--1 { clip-path: none; padding-top: 5rem }
.prefooter--1 .flex-grow { flex-basis: 100%; margin-bottom: 1.5rem; }
}

.marquee {
    font-size: 9vw;
    margin-left: calc( -1*var(--contenedor) );
    background-color: var(--color-dark-light);
    padding: 2.5rem 0 3rem;
    line-height: 1;
    height: 9rem; 
    width: calc( 100% + calc( 2*var(--contenedor) ) );
    overflow: hidden;
    position: relative; }
.marquee div {
  display: block;
  width: 400%;
  height: 8rem;
  position: absolute; 
  animation: marquee 8s linear infinite; }
.marquee p { float: left; width: 50%; }
.marquee span {
    -webkit-text-stroke: 2px var(--qarla-orange);
    color: transparent; 
    display: inline-block;
    padding-left: 4vw;
    padding-right: 4vw; }
@media (min-width: 700px) {
.marquee { font-size: 4vw; }  
.marquee div { width: 200%; } 
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

.footer {
    background-color: var(--color-dark-light);
    min-height: 40vh;
    padding-top: 5rem; padding-bottom: 8rem;
}
.footer h4:not(.text-upper) {
    margin-top: 3rem; font-size: 1.5em;
    line-height: 1.5; font-weight: 300; }
.footer h4:not(.text-upper) + ul li { font-size: 1.25em; }
.footer h4.text-upper {
    font-size: 2em;
    flex-basis: 100%;
    color: var(--color-gray-light);
    font-weight: 700;
}
.footer li {
    line-height: 1.5;
    font-size: 14px;
}

.decorativo {
    height: 250px;
    background-color: var(--color-gray-light);
    background-blend-mode: difference;
    margin-top: 5rem; background-position: center;
}
.footer-img {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--qarla-ambar);
    background-blend-mode: color-burn;
    flex-flow: row wrap;
    place-content: center;
}
.footer-img a {
    display: inline-flex;
    color: var(--color-gray-light);
    border-bottom: 1px solid var(--color-gray-light);
    font-size: 1.25em;
    margin-top: .75rem;
}

[class*='grid-'] { max-width: 100%; flex-basis: 100%; }
@media (min-width: 400px){
.grid-2,
.grid-3 { max-width: 48%; flex-basis: 48%; }
}
@media (min-width: 800px) {
.grid-3 { max-width: 30%; flex-basis: 30%; }
}

.colection { height: 100%; }
.colection-figure { 
  border-radius: .6rem;
  top: 0; bottom: 1rem; margin: auto; transition: 1s transform; width: 100%; }
.colection:hover .colection-figure { transform: scale(.9); }
.colection-img { width: 100%; height: 100%; }
.colection:hover .colection-img { transform: scale(1.1); transition: 2s transform; }
.colection-title { font-size: 14px; }  

.colection-title span { padding: .5rem 1rem; background-color: var(--color-light); transition: .25s transform; }
.colection:hover .colection-title span { transform: scale(1.1); }

.mm--item--active-trail > a::before {
    /*content: '❤️';*/
    margin-right: .25rem;
}

.burger a {
    color: white;
}
.burger-link {
    width: 3.5rem;
    height: 3.5rem; 
}
.burger-link span {
    position: relative;
    display: block;
}
.burger-link span::before, .burger-link span::after {
    content: '';
    width: .75rem;
    height: 2px;
    background-color: 
    white;
    top: calc(50% - 2px);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.burger-link span::after {
    top: calc(50% + 2px);
}
.burger-link svg { 
    transition: .25s transform;
    fill: var(--qarla-orange); }
.burger-link:hover svg { transform: scale(1.15); }

.burger .menu--accordion { margin-top: 2rem; }
.burger .menu--azul {
    margin-bottom: 1rem;
    border-top: 1px dashed white;
    padding-top: 1rem;
    margin-top: 2rem;
}
.burger .uk-nav-sub { display: block!important; }
.burger .uk-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: transparent;
    border: 0;
    z-index: 2; }
.burger .uk-close line { stroke: white; }
.burger .logo-0,
.burger .logo-1 { fill: white; }

.burger .redes { display: block; margin-bottom: 5rem; }
.burger .redes li { width: 25%; margin-right: 0; }
.burger .redes li svg { fill: white; }

.tabulador { bottom: 2.25rem; width: 100%; background-color: white; }
.tabulador li { margin: 0 .5rem; }
.tabulador .is-active { background-color: var(--qarla-purple); color: white; }