.main > :first-child {
    margin-top: 25vh;
}

.nodepage-13 { padding-right: 13vw; }

.title {
    font-size: 8vw;
    width: 60%;
    max-width: 60%; 
    position: relative;
    z-index: 2;
} 
@media (min-width: 90rem) {
.title { font-size: 6vw; }
}
.subtitle { 
    max-width: 100%;
    width: 100%;
}
.banner {
    margin-top: 3rem;
    color: var(--qarla-blue);
    font-size: 1.75em;
    font-weight: 300;
    width: 100%;
}
.figure {
    width: 75%;
    max-width: 75%;
    margin-top: -2.5rem;
}
.img {
    width: 100%;
    mix-blend-mode: luminosity;
}
.cuerpo {
    margin-top: 2rem;
    color: var(--qarla-orange);
    font-weight: 300;
    line-height: 1.5;
}
.cuerpo + .title-block {
    margin-top: 7vh;
}
.columns {
    columns: 2;
    column-gap: 4vw;
}
.simple {
    max-width: 45%;
    columns: auto;
    float: left;
    overflow: hidden;
}
.cuerpo h3, 
.cuerpo h4 {
    line-height: 1.5;
    margin-top: 1rem;
}

.parrafo { margin-bottom: 2rem; }
.parrafo > *:not(:first-child) {
    margin-top: 1rem;
    display: inline-block;
}
.parrafo-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.parrafo-cuerpo {
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
}
.parrafo-cuerpo h4 { line-height: 1.5; }
.parrafo-link {
    font-size: 14px;
    font-weight: 400;
}

.formulario {
    background-color: rgba(57,154,176,.125);
    float: right;
    width: 48%;
    padding: 2rem;
    margin-top: 2rem;
    color: var(--color-dark);
}
.formulario label {
    font-size: 14px;
    font-weight: 300;
    display: block;
}
.formulario input, 
.formulario textarea {
    background-color: var(--color-gray-light);
    width: 100%;
    border: 0;
    padding: .5rem;
    margin-bottom: .5rem;
    font-family: Signika;
    color: var(--qarla-orange);
    font-size: 14px;
}
.formulario input[type="submit"] {
    background-color: var(--qarla-orange);
    color: var(--color-gray-light);
    font-size: 16px;
    line-height: 1;
    padding: .75rem 1rem;
    font-family: signika;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: .5rem;
}
.description {
    font-size: 12px;
    font-weight: 300;
    margin-top: -.25rem;
    margin-bottom: .5rem;
}
@media (max-width: 799px) {
.arkypage-user .formulario { width: 100%; }
}

.contenido { width: 100%; }

.colection:not([class*='pretty'])::after {
  content: '¡Cómpralo!';
    position: absolute;
    width: 7rem;
    height: 7rem;
    z-index: 2;
    top: 0;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: block;
    background-color: var(--qarla-ambar);
    border-radius: 50%;
    margin: auto;
    color: var(--qarla-blue);
    text-transform: uppercase;
    font-size: 14px;
    transform: scale(0);
    padding-top: 2.5rem;
    transition: 1s transform; }
.colection:not([class*='pretty']):hover::after { transform: scale(1) rotate(720deg); }

.social-ul {
    margin-top: 1rem;
}
.social li {
    margin: 0 .5rem;
}
.social svg {
    max-height: 24px;
    text-align: center;
}