div.burger-cart { overflow: visible; }
.blocart {
    font-weight: 300;
    font-size: 14px;
    color: var(--qarla-blue);
    border-bottom: 1px solid var(--blue-light);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.blocart-imagen img {
    max-width: 7rem;
    border-radius: .5rem;
}

.canvas-cart .order-total-line {
    font-weight: 300;
    font-size: 14px;
    color: var(--blue-light);
}
.canvas-cart .order-total-line__total {
    font-weight: 700;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
}
.canvas-cart .order-total-line-value {
    width: auto;
    margin-left: .5rem;
}
.canvas-cart .form-actions {
    display: none;
}

.canvas-cart .uk-offcanvas-bar { background-color: var(--color-gray-light); }
.canvas-cart h4 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--color-dark);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.canvas-cart .uk-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.canvas-cart .uk-close line { stroke: var(--color-dark); }

.canvas-cart .go-cart {
    background-color: red;
    display: block;
    text-align: center;
    line-height: 1;
    padding: 1rem 1rem;
    margin-top: 1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 1rem;
    transition: .25s background-color;
}
.canvas-cart .go-cart:hover {
    background-color: var(--qarla-purple);
}

.carrito-link svg { fill: var(--qarla-pink); width: 100%; }
.cart-block--summary__count {
    background-color: var(--qarla-marine);
    position: absolute;
    top: 3rem;
    z-index: 3;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    line-height: 3rem;
    text-align: center;
    font-size: 21px;
    color: var(--color-light);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    bottom: 0;
    margin: auto;
    left: 1rem;
    font-weight: 700;
    right: 0;
    transform: rotate(13deg);
    transition: .25s transform, .25s background-color;
}
.carrito-link:hover .cart-block--summary__count {
    transform: rotate(0) scale(1.25);
    background-color: var(--qarla-purple)
}

.canvas-cart .delete-order-item {
    width: 22px;
    height: 26px;
    background-image: url(img/trash_blue.png);
    background-color: transparent;
    border: 0;
    text-indent: -9999em;
    background-position: center;
    background-size: contain;
}
.blocart-title {
    max-width: 150px;
}