.blocart [type="number"] {
    padding: .5rem;
    border: 1px solid var(--color-dark);
    background-color: var(--color-light);
    text-align: center;
    font-family: inherit;
    color: var(--qarla-blue);
    max-width: 100px;
}

@media (min-width: 1200px) {
.cart-form { width: 80%; }
}

.form-submit {
    background-color: var(--qarla-pink);
    padding: .75rem 1.5rem;
    font-family: inherit;
    line-height: 1;
    border: 0;
    color: var(--color-gray);
    font-size: 18px;
    text-transform: uppercase;
}
.form-submit[value*="heckout"] {
    background-color: 
    red;
}
.form-submit[value*="emove"] {
    text-indent: -999em;
    width: 45px;
    height: 51px;
    background-image: url(img/trash_purple.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

span.order-total-line-value {
    width: auto;
    margin-left: .5rem;
}
.order-total-line__total {
    font-size: 1.5em;
    color: var(--qarla-purple);
}

.progreso { width: 100%; }
label {
    text-transform: uppercase;
    display: block;
    line-height: 1;
    color: var(--qarla-purple);
    font-size: 12px;
    letter-spacing: 1px;
}
label + input, 
label + select,
label + textarea,
label + div textarea {

    padding: .25rem;
    border: 1px solid var(--qarla-ambar);
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    color: var(--qarla-marine);
    font-weight: 300;

}

.form-item {
    margin-bottom: .5rem;
}
legend {
    font-weight: 300;
    color: var(--qarla-marine);
    font-size: 1.25em;
    margin-bottom: .75rem;
    margin-top: 1.5rem;
}
fieldset fieldset legend {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.blocart-imagen img {
    max-width: 69px;
}
.blocart-title {
    max-width: 150px;
}
.blocart {
    font-weight: 300;
    font-size: 14px;
    color: var(--qarla-blue);
    border-bottom: 1px solid var(--blue-light);
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.layout-region.layout-region-checkout-secondary {
    background-color: 
    rgba(255,255,255,.5);
    padding: 1.5rem;
}
.layout-region.layout-region-checkout-secondary h3 {
    color: var(--qarla-pink);
    font-weight: 300;
    margin-bottom: .5rem;
}

.js-form-type-radio {
    display: inline-block;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-block;
    padding: 4rem 1rem 1rem;
    border: 1px solid var(--qarla-marine);
    border-radius: .5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center 10px;
    transform: scale(.8);
    transition: .25s transform, .25s border-color;
}
input[type="radio"]:checked + label {
    border-color: var(--qarla-purple);
    transform: scale(1);
}
input[type="radio"][id*='deposito'] + label {
    background-image: url(img/pay_1.png);

}
input[type="radio"][id*='payu'] + label {
    background-image: url(img/pay_2.png);
    background-size: 80px;
}

body[class*='review'] .fieldset-wrapper {
    font-weight: 300;
    font-size: 16px;
    color: var(--qarla-orange);
    line-height: 1.5;
}
body[class*='review'] fieldset[id*='contact'] .fieldset-wrapper::before { content: 'Email: '; display: block; font-weight: 700; }
body[class*='review'] fieldset[id*='payment'] .fieldset-wrapper::before { content: 'Tipo de Pago: '; display: block; font-weight: 700; }
.address span::before { font-weight: 700; }
.given-name::before { content: 'Nombres y Apellidos: '; }
.address-line1::before { content: 'Dirección: '; }
.locality::before { content: 'Distrito y Codigo Postal: '; }
.administrative-area::before { content: 'Departamento: '; }
.country::before { content: 'País: '; }
.country::after {
    content: 'Mensaje para Warmichic: ';
    display: block; font-weight: 700; }
.link--previous {
    color: var(--qarla-pink);
    margin-left: 1rem;
}

.commerce-checkout-flow-multistep-default {
    width: 100%;
}
.checkout-complete { font-weight: 300; color: var(--qarla-purple); }
.checkout-complete__payment-instructions {
    margin-top: 1rem;
}