.commerce-up,
.commerce-left,
.commerce-right,
.commerce-down { flex-basis: 100%; margin-bottom: 2rem; }

.commerce-up {
    border-bottom: 2px solid var(--qarla-purple);  
    margin-bottom: 2rem; } 

.uk-slideshow-items { border-radius: 1rem; }

.commerce-right {
    background-color: rgba(0,0,0,.125);
    padding: 2rem;
    border-radius: 1rem;  
    font-size: 14px; }

@media (min-width: 800px) {
.commerce-left {
    margin-right: 2rem;
    flex-basis: calc(100% - 350px - 2rem);
    max-width: calc(100% - 350px - 2rem); } 
.commerce-right { flex-basis: 350px; }
}
@media (min-width: 1440px) {
.commerce-up,
.commerce-down { flex-basis: 80%; } 
.commerce-left { 
    flex-basis: calc(80% - 350px - 2rem);
    max-width: calc(80% - 350px - 2rem); }
}


.commerce-title {
    font-size: 6vw;
    width: 60%;
    max-width: 60%;
    position: relative;
    z-index: 2; 
}
@media (min-width: 90em) {
.commerce-title { font-weight: 4vw; }
}
.commerce-precio { 
    font-size: 4vw;
    background-color: var(--qarla-purple);
    color: white;
    line-height: 1;
    padding: .25rem;
    font-weight: 300;
}
 
.commerce-variaciones legend, 
.commerce-variaciones label:not(.option) {
    font-size: 12px;
    display: block;
    width: 100%;
    line-height: 1;
    color: var(--qarla-marine);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: .25rem;
    text-transform: uppercase;
}
.commerce-variaciones label label { 
    margin: 0!important; 
}
.commerce-variaciones label.option {
    border: 0;
    padding: .5rem;
    text-align: center;
    background-color: var(--color-light);
    box-shadow: 0 0 0 1px var(--qarla-sand);
    margin-right: .25rem;
    color: var(--qarla-orange);
    font-weight: 300;
    transition: .25s box-shadow;
}
.commerce-variaciones :checked + label.option {
    box-shadow: 0 0 0 1px var(--qarla-pink);
}
.commerce-variaciones label.option small {
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    margin-top: .25rem; 
}
.attribute-value {
    font-size: 1.5em;
    font-weight: 400;
    transition: .25s color;
}
.commerce-variaciones :checked + label.option .attribute-value {
    color: var(--qarla-pink);
}
.commerce-variaciones input[type='number'] {
    background-color: var(--color-light);
    border: 1px solid var(--qarla-sand); 
    line-height: 1;
    padding: .75rem;
    font-size: 16px; text-align: center;
    color: var(--qarla-marine);
    -moz-appearance: textfield;
}

.attribute-value {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--blue-light);
}

.uk-slideshow-items { min-height: 600px!important; }

.button--add-to-cart {
    background-color: red;
    color: white;
    font-family: inherit;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.5em;
    margin-top: 2rem;
    border-radius: .5rem;
    transition: .25s background-color;
}
.button--add-to-cart:hover {
    background-color: var(--qarla-purple);
}

[id*='-attribute-talla-'] legend span,
[id*='-attribute-color-'] legend span,
[id*='quantity-wrapper--'] label {
    display: inline-block;
}
[id*='-attribute-talla-'] legend span::before {
    content: 'Elija su ';
}
[id*='-attribute-color-'] legend span::before {
    content: 'Escoja su ';
}
[id*='quantity-wrapper--'] label::before {
    content: '¿En qué ';
}
[id*='quantity-wrapper--'] label::after {
    content: ' desea llevar?';
}

.ajax-progress {
    position: absolute;
    background-color: var(--blue-light);
    color: white;
    padding: .25rem;
    display: inline-block;
}
.ajax-progress .throbber::before { content: '😍' }

.producto-detalle {
    font-weight: 300;
    color: var(--qarla-purple);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
}
.commerce-name {
    flex-basis: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--qarla-pink);
    font-size: 1.25em;
    order: 1;
    margin-top: .5rem;
    position: relative;
}
.commerce-name::before {
    content: attr(data-name)' •';
    margin-right: .325rem;
}
.commerce-name::after {
    content: '• 'attr(data-name);
    margin-left: .325rem;
}

.modal-target {
    display: inline-block;
    margin-top: 1rem;
    font-size: 12px;
    color: var(--qarla-blue);
    position: relative;
}

.ts-link { margin: 0 auto 5vh; }
.ts-img { max-width: 100%; margin: auto; }
.ts-title { font-size: 16px; }
.ts-precio { font-size: 14px; }

.views-element-container {
    flex-basis: 100%;
}