.logotipo svg {
    width: 35vw; max-width: 960px; 
    display: inline-block; transition: 1s width; }
.logotipo .logo-1 { fill: var(--qarla-purple); }

.isotipo { margin-top: 9vh; }
.isotipo svg {
    max-width: 960px; width: 30vw;
    display: inline-block; transition: 1s width; }

@media (max-width: 899px) {
.home .headerpage { top: -4rem; transition: .25s top; }
.arkywarmi.home .headerpage { top: 0; }
.home .isotipo { margin-top: 3.5rem }
}

#heart { animation: heartbeat 1s infinite; }
@keyframes heartbeat
{
  0%
  { transform: translateY(0); }
  20%
  { transform: translateY(1px); }
  40%
  { transform: translateY(0); }
  60%
  { transform: translateY(1px); }
  80%
  { transform: translateY(0); }
  100%
  { transform: translateY(0); }
}

.arkywarmi .welcome svg { width: 20vw; }
.margin-top { margin-top: 5vh; }

.colection { min-height: 350px; }
.colection--group-pretty {
    padding-top: 5vh; 
    background-size: contain; background-repeat: no-repeat; background-position: center top; }
.colection--pretty-items-1 { grid-column: 1/3; grid-row: 1/5; }
.colection--pretty-items-2 { grid-column: 4/6; grid-row: 3/-1; }
.colection--pretty-items-3 { grid-column: 7/-1; grid-row: 2/6; } 

@media (max-width: 599px) {
.colection { margin-top: 1rem; }
.pretty-2 .flex-grow,
.more .flex-grow {
    flex-basis: 100%;
    margin: 0!important;
}
}
@media (min-width: 600px) {
.colection--group-pretty { 
    display: grid; grid-gap: .5rem;
    grid-template-columns: 1fr .25fr .1fr 1.5fr 1fr .15fr .5fr 1.125fr;
    grid-template-rows: 3.5rem 10vh 15vh 10vh 10vh 5rem; } 
.pretty-2 { padding-left: 10%; padding-right: 10%; }
}

.colection:not([class*='pretty'])::after {
  content: 'Ver más';
    position: absolute;
    width: 7rem;
    height: 7rem;
    z-index: 2;
    top: 0;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    display: block;
    background-color: var(--qarla-ambar);
    border-radius: 50%;
    margin: auto;
    color: var(--qarla-blue);
    text-transform: uppercase;
    font-size: 14px;
    transform: scale(0);
    padding-top: 3rem;
    transition: 1s transform; }
.colection:not([class*='pretty']):hover::after { transform: scale(1) rotate(720deg); }

.colection--group { min-height: 350px; }
[class*='colection--items']:not(:first-child) { margin-left: 4vw; }

.colection-bird {
    position: absolute;
    z-index: 2;
    max-width: 6rem;
    top: -1rem;
    left: 0; }

text { fill: var(--qarla-pink); }
.empolleradas { width: 100%; height: auto; }

.colection--pretty-items-1 a { cursor: url(img/bluebird.png), auto; }
.colection--pretty-items-2 a { cursor: url(img/fucshiabird.png), auto; }
.colection--pretty-items-3 a { cursor: url(img/orangebird.png), auto; }