<header id="headerpage" class="headerpage is-fixed index-max">
    <div class="contenedor is-flex flex-row jc-center is-relative index-1">

        {% set sitename_tag = is_front ? 'h1' : 'div' %}
        <{{ sitename_tag }} id="logo" class="logopage text-center">
           <a href="{{ url('<front>') }}" alt="{{ site_name }}" class="logo is-iblock">
              {{ drupal_field('field_logo', 'node', 1) }}
            </a>
        </{{ sitename_tag }}>

        <div class="desktop is-flex flex-column jc-between flex-grow">
            {{ page.header }}
        </div>
 
        {{ drupal_entity('node', '1', 'social') }}   
    
    </div>
</header>