<div class="burger mobile index-maxx">

    <a class="burger-link is-relative is-iblock" href="#myMenu" uk-toggle>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.3 93.8" >
                <g>
                    <path d="M45.9,29.6c0,0,8.7-6.1,8.7-13.6c0-7.5-8.7-13.6-8.7-13.6S37.2,8.5,37.2,16S45.9,29.6,45.9,29.6z"/>
                    <path d="M35.5,33c0,0,3.5-10.1-1-16.2S19.5,11,19.5,11S16,21,20.4,27.1C24.9,33.2,35.5,33,35.5,33z"/>
                    <path d="M20.4,67.6c-4.4,6.1-1,16.2-1,16.2s10.6,0.2,15.1-5.9c4.4-6.1,1-16.2,1-16.2S24.9,61.5,20.4,67.6z"/>
                    <path d="M45.9,65.1c0,0-8.7,6.1-8.7,13.6c0,7.5,8.7,13.6,8.7,13.6s8.7-6.1,8.7-13.6C54.6,71.2,45.9,65.1,45.9,65.1z"/>
                    <path d="M56.3,61.7c0,0-3.5,10.1,1,16.2c4.4,6.1,15.1,5.9,15.1,5.9s3.5-10.1-1-16.2C67,61.5,56.3,61.7,56.3,61.7z"/>
                    <path d="M78.4,48.8c-7.2-2.3-15.6,4.1-15.7,4.1c0.6-1.7,0.9-3.6,0.9-5.5c0-1.9-0.3-3.8-0.9-5.5c0,0,8.5,6.4,15.7,4.1
                        c7.2-2.3,10.3-12.5,10.3-12.5s-8.5-6.4-15.7-4.1c-7.2,2.3-10.3,12.5-10.3,12.5c-2.3-7.1-9-12.2-16.9-12.2
                        c-7.9,0-14.5,5.1-16.9,12.2c0,0-3.1-10.2-10.3-12.5c-7.2-2.3-15.7,4.1-15.7,4.1s3.1,10.2,10.3,12.5c7.2,2.3,15.6-4,15.7-4.1
                        c-0.6,1.7-0.9,3.6-0.9,5.5c0,1.9,0.3,3.8,0.9,5.5c0,0-8.5-6.4-15.7-4.1C6.2,51.1,3.1,61.3,3.1,61.3s8.5,6.4,15.7,4.1
                        C25.9,63,29,52.9,29.1,52.8c2.3,7.1,9,12.2,16.9,12.2c7.9,0,14.5-5.1,16.9-12.2c0,0,3.1,10.2,10.3,12.5c7.2,2.3,15.7-4.1,15.7-4.1
                        S85.6,51.1,78.4,48.8z"/>
                    <path d="M71.4,27.1c4.4-6.1,1-16.2,1-16.2s-10.6-0.2-15.1,5.9c-4.4,6.1-1,16.2-1,16.2S67,33.2,71.4,27.1z"/>
                </g>
            </svg>
        </span>
    </a>
    <section id="myMenu" class="canvas-menu" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar canvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <a href="{{ url('<front>') }}" alt="{{ site_name }}" class="logo is-iblock">
              {{ drupal_field('field_logo', 'node', 1) }}
            </a
            {{ page.header }} 
            {{ drupal_entity('node', '1', 'social') }} 
        </div>
    </section>


</div>