<main id="mainpage" class="main is-flex flex-column flex-grow">
    
    <div class="contenedor is-flex flex-row"> 
        <h1 id="title" class="title font-700 color-purple">{{ drupal_title() }}</h1>
        {{ page.content }}
    </div>

    {{ drupal_entity('node', '1', 'prefooter') }}
    
</main>