<main id="mainpage" class="main is-flex flex-column flex-grow">
    
    <div class="contenedor is-flex flex-row">
        {{ page.content }}
    </div>

    {{ drupal_entity('node', '1', 'prefooter') }}
    
</main>