<main id="mainpage" class="main is-flex flex-column flex-grow">
    
    <div class="contenedor is-flex flex-row">
        {% if not logged_in %}
        <h1 class="title color-purple font-700">{{ drupal_title() }}</h1>
        {% endif %}

        {% if not logged_in %} 
        <div class="formulario">
        {% else %}
        <div class="pages">
        {% endif %}
            {{ page.content }}
        </div>
    </div>
    
</main>