{%
  set body_classes = [
    not root_path ? 'home' : 'back-' ~ root_path|clean_class,
    language ? 'lang-' ~ language|clean_class,
    not logged_in ? 'logoff' : 'login',
    not node_type ? 'drupal' : 'node-' ~ node_type|clean_class,
    db_offline ? 'offline',
    term_id ? 'tx-' ~ term_id, 
    path_info.args ? 'path-' ~ path_info.args,
    current_path ? 'current' ~ current_path|clean_class
  ]
%}

<!DOCTYPE html>
<html {{ html_attributes }}>

<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <meta property="fb:app_id" content=""> 
  <meta name="google-site-verification" content="" />

</head>

<body id="site" {{ attributes.addClass(body_classes) }}>

  <style media="all">
    {% include directory ~ '/templates/@files/css.inline.css' ignore missing %}
  </style> 

  {{ page_top }}
  {{ page }} 
  {{ page_bottom }}

  <css-placeholder token="{{ placeholder_token|raw }}">

  <js-placeholder token="{{ placeholder_token|raw }}">
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">

  <script>
    {% include directory ~ '/templates/@files/js.inline.js' ignore missing %}
  </script>

</body>

</html>