body { overflow-x: hidden; }
body, body * { margin: 0; padding: 0; text-decoration: inherit; }
body { font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: 400; }
@media (min-width: 20rem) { body { font-size: 16px; } }
@media (min-width: 50rem) { body { font-size: 18px; } }
@media (min-width: 103rem) { body { font-size: 20px; } }
*, *:before, *:after { box-sizing: border-box; }

a { color: inherit; }
ol, ul { list-style: none; }
h1, h2, h3, b, strong, h4, h5, h6 { font-weight: 400; line-height: 1; } 
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; object-fit: cover; object-position: center; }
fieldset { border: 0; }
.visually-hidden, .hidden, .sr-only { display: none; }