.uk-alert {
    position: relative;
    margin: 20px auto;
    padding: 15px 29px 15px 15px;
    background: #d8eafc;
    color: #1e87f0;
    flex-basis: 100%;
    max-width: 100%;
} 
.uk-alert-close {
    position: absolute;
    top: 20px;
    right: 15px;
    color: inherit;
    opacity: .4;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
}
.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    line-height: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
.uk-alert > :last-child {
    margin-bottom: 0;
}
.uk-alert-close:first-child + * {
    margin-top: 0;
}

.uk-alert-danger {
    background: #fef4f6;
    color: #f0506e;
}
.uk-alert-warning {
    background: #fff6ee;
    color: #faa05a;
}
.uk-alert-success {
    background: #edfbf6;
    color: #32d296;
}