.uk-lightbox-page {
    overflow: hidden;
}
.uk-lightbox {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background: 
    var(--color-dark);
    opacity: 0;
    transition: opacity .15s linear;
}
.uk-lightbox.uk-open {
    display: block;
    opacity: 1;
}
.uk-overflow-hidden {
    overflow: hidden;
}

.uk-lightbox-items > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    color: 
    rgba(255,255,255,0.7);
    will-change: transform,opacity;
}
.uk-lightbox-items > .uk-active {
    display: flex;
}

.uk-lightbox-items > * > * {
    max-width: 100vw;
    max-height: 100vh;
}
.uk-lightbox-items > * > :not(iframe) {
    width: auto;
    height: auto;
}

.uk-lightbox-toolbar {
    padding: 10px 10px;
    background: 
rgba(0,0,0,0.3);
color:
    rgba(255,255,255,0.7);
}
[class*="uk-position-top"], [class*="uk-position-bottom"], [class*="uk-position-left"], [class*="uk-position-right"], [class*="uk-position-center"] {
    position: absolute !important;
    max-width: 100%;
}
.uk-transition-fade, [class*="uk-transition-scale"], [class*="uk-transition-slide"] {
    transition: .3s ease-out;
        transition-property: all;
    transition-property: opacity,transform,filter;
    opacity: 0;
}
.uk-transition-opaque {
    opacity: 1;
}
.uk-transition-slide-top {
    transform: translateY(-100%);
}

.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
        line-height: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: 
    transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
.uk-close {
    color: #999;
    transition: .1s ease-in-out;
        transition-property: all;
    transition-property: color,opacity;
}
button.uk-icon:not(:disabled) {
    cursor: pointer;
}
.uk-lightbox-toolbar-icon {
    padding: 5px;
    color: 
    rgba(255,255,255,0.7);
}
.uk-lightbox-toolbar > * {
    color: rgba(255,255,255,0.7);
}
.uk-icon > * {
    transform: translate(0, 0);
}
.uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
    stroke: currentcolor;
}
.uk-transition-toggle:hover [class*="uk-transition-slide"], .uk-transition-toggle:focus [class*="uk-transition-slide"], .uk-transition-active.uk-active [class*="uk-transition-slide"] {
    opacity: 1;
    transform: translate(0, 0);
}

.uk-position-medium[class*="uk-position-center-left"], .uk-position-medium[class*="uk-position-center-right"] {
    transform: translateY(-50%) translateY(-30px);
}
.uk-transition-fade, [class*="uk-transition-scale"], [class*="uk-transition-slide"] {
    transition: .3s ease-out;
        transition-property: all;
    transition-property: opacity,transform,filter;
    opacity: 0;
}
.uk-position-medium {
    max-width: calc(100% - (30px * 2));
    margin: 30px;
}
.uk-position-center-right {
    right: 0;
}
[class*="uk-position-center-left"], [class*="uk-position-center-right"] {
    top: 50%;
    transform: translateY(-50%);
}
[class*="uk-position-top"], [class*="uk-position-bottom"], [class*="uk-position-left"], [class*="uk-position-right"], [class*="uk-position-center"] {
    position: absolute !important;
    max-width: 100%;
}
.uk-lightbox-button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background: 
rgba(0,0,0,0.3);
color:
    rgba(255,255,255,0.7);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.uk-slidenav {
    padding: 5px 10px;
    color: rgba(102,102,102,0.5);
    transition: color .1s ease-in-out;
}
.uk-position-center-left {
    left: 0;
}

.uk-transition-slide-bottom {
    transform: translateY(100%); text-align: center;
}
.uk-transition-fade, [class*="uk-transition-scale"], [class*="uk-transition-slide"] {
    transition: .3s ease-out;
        transition-property: all;
    transition-property: opacity,transform,filter;
    opacity: 0;
}
.uk-position-bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.uk-text-right {
    text-align: right !important; width: 100%;
}