/* ========================================================================
   Component: Modal
 ========================================================================== */
 
.uk-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.15s linear;
} 
@media (min-width: 640px) {
  .uk-modal {
    padding: 50px 30px;
  }
} 
@media (min-width: 960px) {
  .uk-modal {
    padding-left: 40px;
    padding-right: 40px;
  }
}
 
.uk-modal.uk-open {
  opacity: 1;
}
 
.uk-modal-page {
  overflow: hidden;
}
 
.uk-modal-dialog {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 600px;
  max-width: calc(100% - 0.01px) !important;
  background: #fff;
  opacity: 0;
  transform: translateY(-100px);
  transition: 0.3s linear;
  transition-property: opacity, transform;
}
 
.uk-open > .uk-modal-dialog {
  opacity: 1;
  transform: translateY(0);
}
 
.uk-modal-container .uk-modal-dialog {
  width: 1200px;
}
 
.uk-modal-full {
  padding: 0;
  background: none;
}
 
.uk-modal-full .uk-modal-dialog {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  transform: translateY(0);
}
 
.uk-modal-body {
  padding: 30px 30px;
}
.uk-modal-header {
  padding: 15px 30px;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.uk-modal-footer {
  padding: 15px 30px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}
 
.uk-modal-body::before,
.uk-modal-body::after,
.uk-modal-header::before,
.uk-modal-header::after,
.uk-modal-footer::before,
.uk-modal-footer::after {
  content: "";
  display: table;
}
.uk-modal-body::after,
.uk-modal-header::after,
.uk-modal-footer::after {
  clear: both;
}
 
.uk-modal-body > :last-child,
.uk-modal-header > :last-child,
.uk-modal-footer > :last-child {
  margin-bottom: 0;
}


.uk-modal-title {
  text-align: center;
  font-weight: 300;
  color: var(--qarla-marine);
  margin-bottom: 1rem;
  text-transform: uppercase;
}


[class*='uk-modal-close-'] {
  position: absolute;
  z-index: 1010;
  top: 10px;
  right: 10px;
  padding: 5px;
} 
[class*='uk-modal-close-']:first-child + * {
  margin-top: 0;
}

.uk-modal-close-outside {
  top: 0;
  right: -5px;
  transform: translate(0, -100%);
  color: #ffffff;
}
.uk-modal-close-outside:hover {
  color: #fff;
}

@media (min-width: 960px) {
  .uk-modal-close-outside {
    right: 0;
    transform: translate(100%, -100%);
  }
}

.uk-modal-close-full {
  top: 0;
  right: 0;
  padding: 20px;
  background: #fff;
}

thead th {
    border-bottom: 2px solid var(--qarla-marine);
    padding: .5rem 1rem;
    font-weight: 300;
    color: var(--qarla-marine);
    line-height: 1;
}
tbody td {
    border-bottom: 1px solid var(--qarla-marine);
    font-weight: 300;
    font-size: 14px;
    padding: .25rem .5rem;
    color: var(--qarla-marine);
}