.uk-offcanvas-container {
    position: relative;
    left: 0;
    transition: left .3s ease-out;
    box-sizing: border-box;
    width: 100%;
}
.uk-offcanvas-page, .uk-offcanvas-container {
    overflow-x: hidden;
}

.uk-offcanvas {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.uk-offcanvas-bar {
    left: -350px;
    width: 350px;
    padding: 40px 40px;
}
.uk-offcanvas-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    box-sizing: border-box;
    padding: 20px 20px;
    background-color: var(--qarla-purple);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
}
.uk-open > .uk-offcanvas-bar {
    left: 0;
}
.uk-offcanvas-bar-animation {
    transition: left .3s ease-out;
}

.uk-offcanvas-overlay {
    width: 100vw;
    touch-action: none;
}
.uk-offcanvas-overlay.uk-open::before {
    opacity: 1;
}
.uk-offcanvas-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: 
    rgba(0,0,0,0.1);
    opacity: 0;
    transition: opacity .15s linear;
}

.uk-offcanvas-flip .uk-offcanvas-bar {
    left: auto;
    right: -100vw; 
}
@media (min-width: 600px) {
.uk-offcanvas-flip .uk-offcanvas-bar { 
    right: -35vw;
    width: 35vw;
}    
}
.uk-offcanvas-flip .uk-offcanvas {
    right: 0;
    left: auto;
}
.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
    left: auto;
    right: 0;
}
.uk-offcanvas-flip .uk-offcanvas-bar-animation {
    transition-property: right;
}