.uk-light, .uk-section-primary:not(.uk-preserve-color), .uk-section-secondary:not(.uk-preserve-color), .uk-tile-primary:not(.uk-preserve-color), .uk-tile-secondary:not(.uk-preserve-color), .uk-card-primary.uk-card-body, .uk-card-primary > :not([class*="uk-card-media"]), .uk-card-secondary.uk-card-body, .uk-card-secondary > :not([class*="uk-card-media"]), .uk-overlay-primary, .tm-navbar-container:not(.uk-navbar-transparent) {
    color: 
    rgba(255,255,255,0.8);
}
.uk-visible-toggle {
    -webkit-tap-highlight-color: transparent;
}
.uk-position-relative {
    position: relative !important;
}
.uk-slideshow {
    -webkit-tap-highlight-color: transparent;
}

.uk-slideshow-items > :not(.uk-active) {
    display: none;
}
.uk-slideshow-items {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    -webkit-touch-callout: none;
}
.uk-slideshow-items > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    will-change: transform,opacity;
    touch-action: pan-y;
}
.uk-slideshow-items {
    list-style: none;
}
.uk-cover { 
    width: 100%;
    height: 100%; 
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}}

.uk-visible-toggle:not(:hover):not(:focus) .uk-hidden-hover:not(:focus-within) {
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}
.uk-light .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary > :not([class*="uk-card-media"]) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-slidenav, .uk-overlay-primary .uk-slidenav, .tm-navbar-container:not(.uk-navbar-transparent) .uk-slidenav {
    color: 
    rgba(255,255,255,0.7);
}
.uk-position-small[class*="uk-position-center-left"], .uk-position-small[class*="uk-position-center-right"] {
    transform: translateY(-50%) translateY(-15px);
}
.uk-light a, .uk-light .uk-link, .uk-section-primary:not(.uk-preserve-color) a, .uk-section-primary:not(.uk-preserve-color) .uk-link, .uk-section-secondary:not(.uk-preserve-color) a, .uk-section-secondary:not(.uk-preserve-color) .uk-link, .uk-tile-primary:not(.uk-preserve-color) a, .uk-tile-primary:not(.uk-preserve-color) .uk-link, .uk-tile-secondary:not(.uk-preserve-color) a, .uk-tile-secondary:not(.uk-preserve-color) .uk-link, .uk-card-primary.uk-card-body a, .uk-card-primary.uk-card-body .uk-link, .uk-card-primary > :not([class*="uk-card-media"]) a, .uk-card-primary > :not([class*="uk-card-media"]) .uk-link, .uk-card-secondary.uk-card-body a, .uk-card-secondary.uk-card-body .uk-link, .uk-card-secondary > :not([class*="uk-card-media"]) a, .uk-card-secondary > :not([class*="uk-card-media"]) .uk-link, .uk-overlay-primary a, .uk-overlay-primary .uk-link, .tm-navbar-container:not(.uk-navbar-transparent) a, .tm-navbar-container:not(.uk-navbar-transparent) .uk-link {
    color: #fff;
}
.uk-position-small {
    max-width: calc(100% - (15px * 2));
    margin: 15px;
}
.uk-position-center-left {
    left: 0;
}
[class*="uk-position-center-left"], [class*="uk-position-center-right"] {
    top: 50%;
    transform: translateY(-50%);
}
[class*="uk-position-top"], [class*="uk-position-bottom"], [class*="uk-position-left"], [class*="uk-position-right"], [class*="uk-position-center"] {
    position: absolute !important;
    max-width: 100%;
}
.uk-slidenav {
    padding: 5px 10px;
    color: rgba(102,102,102,0.5);
    transition: color .1s ease-in-out;
}
.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
        line-height: inherit;
    color: inherit;
    text-transform: none;
    padding: 0;
    background-color: 
    transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}
.uk-position-center-right {
    right: 0;
}