{% if not logged_in %}

<style>

#loading {
    background-color: #ebe2da;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 13;
    margin-top: 0px;
    top: 0px;
    left: 0;
}
.loaded #loading {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px; 
    transform: rotate(-135deg);
}

.object { 
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #FFF;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFF;
    border-right: 5px solid transparent; 
    animation: animate 2s infinite;
    animation-delay: 0s;
}
#object_one {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
    border-top-color: #C65839;
    border-left-color: #C65839;
}
#object_two {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    border-top-color: #5873B0;
    border-left-color: #5873B0;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_three {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    border-top-color: #E4AE00;
    border-left-color: #E4AE00;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px; 
    border-top-color: #B3378A;
    border-left-color: #B3378A;
    animation-delay: 0.6s;
}

@keyframes animate { 50% { transform: rotate(360deg) scale(0.8); } }

</style>

<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>

<script>
document.body.classList.contains("logoff")&&window.addEventListener("load",function(){document.querySelector("body").classList.add("loaded")});
</script>

{% endif %}