<section id="node" class="nodepage nodepage-13">

  <div class="contenedor is-flex flex-row"> 
    
    <h1 id="title" class="title color-purple font-700">{{ label|raw }}</h1>
    
    {% if node.field_imagen is not empty %}
    <figure class="figure">
        <img 
        src="{{ file_url(node.field_imagen.entity.field_media_image.entity.fileuri) }}" 
        alt="{{node.field_imagen.entity.field_media_image.alt }}" title="{{node.field_imagen.entity.field_media_image.title }}" class="img" />
    </figure>

    {% endif %}

    {% if node.field_banner is not empty %}
    <h2 class="banner">{{ node.field_banner.value }}</h2>
    {% endif %}

    <div class="contenido is-flex flex-row jc-between">
        {% if node.id == '10' %}
        <article class="cuerpo simple">
        {% else %}
        <article class="cuerpo columns">
        {% endif %}
            {{ node.body.value | raw }}
        </article>

        {% if node.id == '10' %}
        <div class="formulario order-min">
            {{ contact_form('novias') }}
        </div>
        {% endif %}
    </div>

    <h4 class="title-block is-relative color-purple text-upper font-300 is-iblock">{{ node.field_parrafo_msj.value }}</h4>

    <ul class="parrafo--group is-flex flex-row jc-between">
        {% for parrafo in node.field_detalles %}
        <li class="parrafo-items-{{ loop.index }} grid-3">
            <article class="parrafo is-block is-relative is-flex flex-column jc-end color-purple">
                <figure class="parrafo-figure">
                    <img 
                        class="parrafo-img is-block" 
                        src="{{ file_url(parrafo.entity.field_p_media.entity.field_media_image.entity.uri.value) }}" 
                        alt="{{ parrafo.entity.field_p_media.entity.field_media_image.alt }}" title="{{ parrafo.entity.field_p_media.entity.field_media_image.title }}" />
                </figure>
                <h4 class="parrafo-title color-purple text-upper font-300">{{ parrafo.entity.field_p_title.value }}</h4>
                <div class="parrafo-cuerpo">
                    {{ parrafo.entity.field_p_body.value | raw }}
                </div>
                <a class="parrafo-link text-lower font-300" href="{{ parrafo.entity.field_p_link.url }}" title="{{ parrafo.entity.field_p_link.title }}">
                    {{ parrafo.entity.field_p_link.title }}
                </a>
            </article>
        </li>
        {% endfor %}
    </ul>

  </div>
</section>