{% if view_mode == 'social' %}


<nav id="redes" class="redes desktop">
    <ul class="is-flex flex-row redes-group text-center">
        {% for redes in node.field_social %} 
            <li>
                <a href="{{ redes.entity.field_p_link.0.url }}" title="{{ redes.entity.field_p_link.title }}"> 
                    {% if redes.entity.field_p_icon.entity.uri.value is not empty %}
                        {% set want = '/../../sites/default/files/svg/icon/' %}
                        {% set sex = redes.entity.field_p_icon.entity.filename.0.value %} 
                        {% include directory ~ want ~ sex %} 
                    {% endif %}  
                </a>
            </li>
        {% endfor %}
    </ul>
</nav> 

{% elseif view_mode == 'prefooter' %}


<section id="prefooter" class="prefooter--1 text-center">
    <div class="contenedor"> 

        <h4 class="title-block is-relative color-purple text-upper font-300 is-iblock">{{ node.field_msj_prefooter.value }}</h4>

        <ul class="is-flex flex-row prefooter-group text-center">
        {% for prefooter in node.field_info_payment %}
            <li class="prefooter-item flex-grow font-300 color-purple">
                {% set want = '/../../sites/default/files/svg/icon/' %}
                {% set sex = prefooter.entity.field_p_icon.entity.filename.0.value %} 
                {% include directory ~ want ~ sex %}  
                <h5 class="prefooter-title text-upper font-300">{{ prefooter.entity.field_p_title.value }}</h5>
                {{ prefooter.entity.field_p_body.value|raw }}
            </li>
        {% endfor %}

    </div>
</section>

{#
<section id="rotatorio" class="prefooter--2 text-center">
    <div class="contenedor">
        <div class="marquee">
            <div>
                <p>
                    {{ node.field_msj_rotatoria_emoji.value }} <span class="text-center text-upper font-700">{{ node.field_msj_rotatoria.value }}</span> {{ node.field_msj_rotatoria_emoji.value }}
                </p>
                <p>
                    {{ node.field_msj_rotatoria_emoji.value }} <span class="text-center text-upper font-700">{{ node.field_msj_rotatoria.value }}</span> {{ node.field_msj_rotatoria_emoji.value }}
                </p>
            </div>
        </div>
    </div>
</section>
#}

{% elseif view_mode == 'footer' %}



<footer id="footerpage" class="footer text-center font-300 color-orange">
    <div class="contenedor">
        <figure class="footer-img text-center" style="background-image: url( {{ file_url(node.field_footer_img.entity.fileuri) }} )"> 
            <h4 class="text-upper"> {{ node.field_msj_footer.value }}</h4>
            <a href="{{ node.field_footer_link.0.url }}" title="{{ node.field_footer_link.0.title }}">{{ node.field_footer_link.0.title }}</a>
        </figure> 
        <div class="footer-data">
            {{ drupal_field('field_data_footer', 'node', 1) }}
        </div>
        <br>
        <small>&copy; 2020 Warmichic - Diseño Web y Página Web hecho por <a href="https://arky.website" target="_blank" title="">ArkyWeb</a> - Lima, Perú</small>
    </div> 
</footer>


{% else %}


<section id="welcome" class="welcome">
    <div class="contenedor">

        <article class="isotipo text-center">
            {{ drupal_field('field_isotipo', 'node', 1) }}
        </article>
        <article class="logotipo text-center">
            {{ drupal_field('field_logo', 'node', 1) }}
        </article>

    </div>
</section>

<article class="pretty-1 text-center">
    <div class="contenedor"> 

        <ul class="colection--group-pretty">
            {% for link in node.field_home_link_main %}
            <li class="colection--pretty-items-{{ loop.index }}">
                <a class="colection colection-pretty is-block is-relative is-flex flex-column jc-end" href="{{ link.entity.field_p_link.0.url }}">
                    <figure class="colection-figure is-absolute">
                        <img 
                        class="colection-img is-block" 
                        src="{{ file_url(link.entity.field_p_media.entity.field_media_image.entity.uri.value) }}" 
                        alt="{{ link.entity.field_p_media.entity.field_media_image.alt }}" title="{{ link.entity.field_p_media.entity.field_media_image.title }}" />
                    </figure>
                    <h4 class="colection-title color-dark text-upper">
                        <span class="is-iblock is-relative">{{ link.entity.field_p_link.title }}</span>
                    </h4>
                    {#<img 
                        class="colection-bird" src="{{ file_url(link.entity.field_p_icon.entity.uri.value) }}" alt="" title="" /> #}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</article>

{% include '@arky/@artefacta/messages.html.twig' %}  


<article class="pretty-2 margin-top text-center">
    <div class="contenedor"> 

        <ul class="colection--group is-flex flex-row">
            {% for link in node.field_home_link_secondary %}
            <li class="colection--items-{{ loop.index }} flex-grow">
                <a class="colection is-block is-relative is-flex flex-column jc-end" href="{{ link.entity.field_p_link.0.url }}">
                    <figure class="colection-figure is-absolute">
                        <img 
                        class="colection-img is-block" 
                        src="{{ file_url(link.entity.field_p_media.entity.field_media_image.entity.uri.value) }}" 
                        alt="{{ link.entity.field_p_media.entity.field_media_image.alt }}" title="{{ link.entity.field_p_media.entity.field_media_image.title }}" />
                    </figure>
                    <h4 class="colection-title color-purple text-upper">
                        <span class="is-iblock is-relative">{{ link.entity.field_p_link.title }}</span>
                    </h4>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</article>

{#
<article class="empolleradas margin-top">
    <div class="contenedor">
        <svg id="text-container" viewBox="0 0 1000 200" xmlns="http://www.w3.org/2000/svg">
          <path id="text-curve" d="M0 100s269.931 86.612 520 0c250.069-86.612 480 0 480 0" fill="none"/>
          
          <text y="40" font-size="84">
            <textPath id="text-path" href="#text-curve" startOffset="200">
              {{ node.field_mensaje.value }}
            </textPath>
          </text>
        </svg> 
    </div>
</article>
#}

<article class="more margin-top text-center">
    <div class="contenedor"> 

        <ul class="colection--group is-flex flex-row">
            {% for link in node.field_home_link_tertiary %}
            <li class="colection--items-{{ loop.index }} flex-grow">
                <a class="colection is-block is-relative is-flex flex-column jc-end" href="{{ link.entity.field_p_link.0.url }}">
                    <figure class="colection-figure is-absolute">
                        <img 
                        class="colection-img is-block" 
                        src="{{ file_url(link.entity.field_p_media.entity.field_media_image.entity.uri.value) }}" 
                        alt="{{ link.entity.field_p_media.entity.field_media_image.alt }}" title="{{ link.entity.field_p_media.entity.field_media_image.title }}" />
                    </figure>
                    <h4 class="colection-title color-marine text-upper">
                        <span class="is-iblock is-relative">{{ link.entity.field_p_link.title }}</span>
                    </h4>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</article> 

<style>
    .pretty-1 [class*='colection--group'] { background-image: url( '{{ file_url(node.field_home_fondo.entity.field_media_image.entity.uri.value) }}' ); }
</style>


{% endif %}