<section id="node" class="nodepage nodepage-13">

  <div class="contenedor is-flex flex-row"> 
    
    <h1 id="title" class="title color-purple font-700">{{ label|raw }}</h1>
    
    {% if node.field_imagen is not empty %}
    <figure class="figure">
        <img 
        src="{{ file_url(node.field_imagen.entity.field_media_image.entity.fileuri) }}" 
        alt="{{node.field_imagen.entity.field_media_image.alt }}" title="{{node.field_imagen.entity.field_media_image.title }}" class="img" />
    </figure>

    {% endif %}

    {% if node.field_banner is not empty %}
    <h2 class="banner">{{ node.field_banner.value }}</h2>
    {% endif %}

    <div class="contenido is-flex flex-row jc-between">
        <article class="cuerpo simple">
            {{ node.body.value | raw }}
        </article>
        
        {% if node.id == '6' %}
        <div class="formulario">
            {{ contact_form('novias') }}
        </div>
        {% endif %}
    </div>

  </div>
</section>